# ü§ç**Ghaid Yahya** ***1201220 - Assi No.5***ü§ç
---

Importing the libraries

In [11]:
import pandas as pd
import numpy as np
from itertools import combinations

To read the dataset file

In [12]:
myFile = "DataSet/online_retail_II.csv"
df = pd.read_csv(myFile)

**Randomly select 200k row from the dataset using your ID as seed.**

In [13]:
random200k = df.sample(n=200000, random_state=1201220)

I used my id as a seed which is 1201220

**1. Determine the total sales per invoice and identify the top 5 invoices.**

In [14]:
df['TotalSales'] = df['Price'] * df['Quantity']
sales = df.groupby('Invoice')['TotalSales'].sum()
topTrans = sales.nlargest(5)

To calculate the total sales per invoice (explination for the output above)

*   we first multiply the price and quantity columns to get the total
*   then Groupe them by invoice, sum the total sales for each invoice
*   lastly Identify the top 5 invoices with the highest total sales

In [15]:
print("The Top 5 Invoices")
print(topTrans)

The Top 5 Invoices
Invoice
581483    168469.60
541431     77183.60
574941     52940.94
576365     50653.91
533027     49844.99
Name: TotalSales, dtype: float64

**2. Compute the total sales per customer and list the top 5 customers**

In [16]:
df['TotalSales'] = df['Price'] * df['Quantity']
customerTsales = df.groupby('Customer ID')['TotalSales'].sum()
top5Cust = customerTsales.nlargest(5)

To calculate the top customer per invoice (explination for the output above)

*   we first multiply the price and quantity columns to calculate the total sales per invoice.
*  then group invoices by customer, and sum the total sales for each customer.
*   lastly Identify the top 5 customers with the highest total sales.

In [17]:
print("The Top 5 Customers")
print(top5Cust)

The Top 5 Customers
Customer ID
18102.0    598215.22
14646.0    523342.07
14156.0    296564.69
14911.0    270248.53
17450.0    233579.39
Name: TotalSales, dtype: float64

**3. Identify the top 5 selling items during this period.**

In [18]:
df['TotalSales'] = df['Price'] * df['Quantity']

theItems = df.groupby('Description')['Quantity'].sum()

top5itms = theItems.nlargest(5)

print("Top 5 selling items :")
print(top5itms)

Top 5 selling items :
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     108545
WHITE HANGING HEART T-LIGHT HOLDER     93050
ASSORTED COLOUR BIRD ORNAMENT          81306
JUMBO BAG RED RETROSPOT                78090
BROCADE RING PURSE                     70700
Name: Quantity, dtype: int64

to calculate the total sales for each item we start by multiplying the price of each item with the quantity sold. afterwords we group the items by their description and calculate the total quantity sold for each item. then its ready to print the top 5 selling items based on the total quantity sold.

**4. Determine the most frequently purchased item pairs by customers and display the top 20 pairs.**

In [19]:
df.dropna(subset=['Invoice', 'Description'], inplace=True)

This code drops rows with missing values in the 'Invoice' and 'discription'

In [20]:

itemsPerIn = df.groupby('Invoice')['Description'].apply(list)


thePairs = itemsPerIn.apply(lambda items: list(combinations(items, 2))).explode()

pCount = thePairs.value_counts()

top20P = pCount.head(20)

print("Top 20 purchased pairs :")
print(top20P)

Top 20 purchased pairs :
(RED HANGING HEART T-LIGHT HOLDER, WHITE HANGING HEART T-LIGHT HOLDER)    835
(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)         771
(SWEETHEART CERAMIC TRINKET BOX, STRAWBERRY CERAMIC TRINKET BOX)          764
(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )       752
(JUMBO STORAGE BAG SUKI, JUMBO BAG RED RETROSPOT)                         730
(HEART OF WICKER SMALL, HEART OF WICKER LARGE)                            677
(JUMBO SHOPPER VINTAGE RED PAISLEY, JUMBO BAG RED RETROSPOT)              673
(JUMBO BAG PINK POLKADOT, JUMBO BAG RED RETROSPOT)                        666
(WOODEN FRAME ANTIQUE WHITE , WOODEN PICTURE FRAME WHITE FINISH)          663
(PAPER CHAIN KIT 50'S CHRISTMAS , PAPER CHAIN KIT VINTAGE CHRISTMAS)      649
(JUMBO BAG RED RETROSPOT, JUMBO  BAG BAROQUE BLACK WHITE)                 635
(WHITE HANGING HEART T-LIGHT HOLDER, RED HANGING HEART T-LIGHT HOLDER)    627
(JUMBO BAG RED RETROSPOT, DOTCOM POSTAGE)                                 623
(WOODEN PICTURE FRAME WHITE FINISH, WOODEN FRAME ANTIQUE WHITE )          617
(JUMBO STORAGE BAG SUKI, JUMBO SHOPPER VINTAGE RED PAISLEY)               606
(HOME BUILDING BLOCK WORD, LOVE BUILDING BLOCK WORD)                      593
(JUMBO BAG RED RETROSPOT, JUMBO BAG STRAWBERRY)                           580
(LUNCH BAG WOODLAND, LUNCH BAG  BLACK SKULL.)                             578
(ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKELIKE RED )                   576
(PACK OF 60 PINK PAISLEY CAKE CASES, 60 TEATIME FAIRY CAKE CASES)         574
Name: Description, dtype: int64

 it converts the lists of purchased items into pairs and counts the occurrence of each item pair. then it identifies the top 20 most frequent item pairs.

**5. The retail store aims to introduce a new promotion targeting items with low sales volume. This promotion entails offering a discounted price for a pair of two different items, with one item being among the top 10 best sellers and the other from the bottom 10 sellers. Customers who purchase these two items together will qualify for the special pricing. Your task is to recommend 10 pairs of items to kickstart this campaign.**

In [21]:
df.dropna(subset=['Description', 'Quantity', 'Price'], inplace=True)

to remove rows with missing values in the 'Description' 'Quantity' and 'Price' columns

In [22]:


df['TotalSales'] = df['Quantity'] * df['Price']

df = df[~df['Description'].str.contains('Adjustment|Manual|SAMPLE|Bank Charges|bad debt|AMAZON FEE|CRUK Commission')]

DescSales = df.groupby('Description')['TotalSales'].sum()


top10Item = DescSales.nlargest(10)
bottom10Item = DescSales.nsmallest(10)

LSVpairs = []
for topP in top10Item.index:
    bottomP = np.random.choice(bottom10Item.index)
    LSVpairs.append((topP, bottomP))

recommended_pairs = set()
for pair in LSVpairs:
    if len(recommended_pairs) == 10:
        break
    if pair[0] != pair[1]:
        recommended_pairs.add(pair)

print("Recommended pairs for the promotion:")
for idx, pair in enumerate(recommended_pairs, 1):
    print(f"{idx}. {pair[0]} and {pair[1]}")

Recommended pairs for the promotion:
1. JUMBO BAG RED RETROSPOT and TREE OF NOAH FESTIVE SCENTED CANDLE
2. DOTCOM POSTAGE and SILVER CHERRY LIGHTS
3. PARTY BUNTING and S/16 BLACK SHINY/MAT BAUBLES
4. WHITE HANGING HEART T-LIGHT HOLDER and SILVER CHERRY LIGHTS
5. REGENCY CAKESTAND 3 TIER and WHITE ORCHID FLOWER LIGHTS
6. CHILLI LIGHTS and TREE OF NOAH FESTIVE SCENTED CANDLE
7. ROTATING SILVER ANGELS T-LIGHT HLDR and PADS TO MATCH ALL CUSHIONS
8. POSTAGE and SILVER CHERRY LIGHTS
9. PAPER CHAIN KIT 50'S CHRISTMAS  and TREE OF NOAH FESTIVE SCENTED CANDLE
10. ASSORTED COLOUR BIRD ORNAMENT and PADS TO MATCH ALL CUSHIONS